<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/unitkerja/edit/<%=dataUnitKerja.id%>" method="post">
        <label>Unit :</label>
        <input type="text" name="namaUnitKerja" value='<%=dataUnitKerja.namaUnitKerja%>'>
        <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
