<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/jabatan/add" method="post">
      <label>Jabatan :</label>
      <input type="text" name="namaJabatan" placeholder="input jabatan">
      <input type="submit" value="ADD">
    </form>
  </body>
</html>
