<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/jabatan/edit/<%=dataJabatan.id%>" method="post">
        <label>Jabatan :</label>
        <input type="text" name="namaJabatan" value='<%=dataJabatan.namaJabatan%>'>
        <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
