<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pegawai/add" method="post" enctype="multipart/form-data">
      <label>Nama Pegawai :</label>
      <input type="text" name="nama_pegawai" placeholder="input unitkerja">
      <label>Alamat :</label>
      <input type="text" name="alamat" placeholder="input unitkerja">
      <label>JK :</label>
      <input type="text" name="jk" placeholder="input unitkerja">
      <label>TANGGAL LAHIR :</label>
      <input type="text" name="tgl_lahir" placeholder="input unitkerja">
      <label>TELP :</label>
      <input type="text" name="telp" placeholder="input unitkerja">
      <label>STATUS PEGAWAI :</label>
      <input type="text" name="status_pegawai" placeholder="input unitkerja">
      <label>FOTO :</label>
      <input type="file" name="foto" placeholder="input unitkerja">
      <input type="submit" value="ADD">
    </form>
  </body>
</html>
